@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #222;
}

.snowman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.head {
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
}

.eyes span {
  display: inline-block;
  width: 15px;
  height: 0px;
  background: #333;
  border-radius: 50%;
  margin: 0px 20px;
  animation: eyes 0.5s linear forwards;
  animation-delay: 1.5s;
}

.eyes {
  text-align: center;
  margin-top: 40px;
}

.nose {
  width: 15px;
  height: 30px;
  background: red;
  border-radius: 50%;
  margin: 0px auto;
}

.mouth {
  width: 40px;
  height: 15px;
  background: #333;
  border-radius: 50%;
  margin: 15px auto 0;
}

.body {
  width: 0px;
  height: 0px;
  background: #fff;
  border-radius: 50%;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: body 1s linear forwards;
  animation-delay: 0.5s;
}

.body span {
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  margin: 5px;
}

@keyframes body {
  100% {
    width: 250px;
    height: 250px;
  }
}
@keyframes eyes {
  100% {
    height: 25px;
  }
}
